* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(rgb(132, 235, 245), rgb(78, 145, 207));
  font-family: sans-serif;
  color: white;
}

.location {
  outline: 2px solid black;
  height: 30vh;
  width:50%;
}

.temperature {
  outline: 2px solid black;
  height: 30vh;
  width:50%;
}

.degree-section{
  outline: 2px solid black;
  display: flex;
  cursor: pointer;
}

.degree-section span {
  outline: 2px solid black;
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  outline: 2px solid black;
  font-size: 40px;
}

.week-forecast {
  outline: 2px solid black;
  height: 30vh;
}